@if((usersService.getAuthUserInProgress$ | async) || !user) {
<!-- Loading screen for logged in users -->
<app-pogshop-spinner></app-pogshop-spinner>
} @else {
<app-shop-nav-bar [currentTab]="TABS.SHOP"></app-shop-nav-bar>

<app-creator-banner
  [canEditProfile]="canEdit"
  [user]="user"
  [authUser]="authUser"
></app-creator-banner>

<div class="max-w-6xl mx-auto">
  @if(viewableSelectedProduct) {
  <app-product-details-section
    [product]="viewableSelectedProduct"
    [showBackButton]="true"
    (onBack)="closeProductDetails()"
  ></app-product-details-section>
  } @else if(products != null) {
  <app-product-grid
    (onProductClick)="navigateToProduct($event.id)"
    [productList]="products"
    [canEdit]="canEdit"
  ></app-product-grid>
  }
</div>
}

<app-footer></app-footer>
