.product-card {
  position: relative;
  border-radius: 0.5rem;
  border-width: 2px;
  border-color: transparent;
  background-color: rgb(31, 41, 55);
  overflow: hidden;
  transition: all;
  height: 100%;

  &.product-card--hidden {
    opacity: 0.6;
  }

  &:hover {
    border-color: rgb(168, 85, 247);
  }
}
