.product-card {
  position: relative;
  border-radius: 1rem;
  background-color: rgb(31, 41, 55);
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;

  &.product-card--hidden {
    opacity: 0.6;
  }
}
