<div class="alerts-page">
  <div class="alerts-container">
    <div
      *ngFor="let alert of activeAlerts; let i = index"
      [@alertAnimation]
      class="alert-item"
      [style.bottom]="'calc(50% - ' + i * 8 + 'px)'"
    >
      <app-simple-stream-alert
        [displayImage]="alert.imageURL"
        [displayUsername]="alert.displayUsername"
        [displayProductName]="alert.productName"
        [displayHandle]="alert.handle"
      ></app-simple-stream-alert>
    </div>
  </div>

  <button (click)="testAlert()" class="test-button">Test Alert</button>
</div>
