<div
  class="suggest-product-card h-full flex flex-col justify-center items-center p-8 sm:w-78 w-full"
>
  <div class="flex flex-col items-center">
    <div
      class="w-16 h-16 rounded-full bg-gray-700 flex items-center justify-center mb-4"
    >
      <svg
        class="w-8 h-8 text-gray-400"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7"
        ></path>
      </svg>
    </div>
    <p class="text-lg font-medium text-center">Suggest a Product</p>
    <p class="text-gray-400 text-sm text-center mt-2">
      Suggest a product to be added to the shop
    </p>
  </div>
</div>
