<app-shop-nav-bar [currentTab]="TABS.ORDERS"></app-shop-nav-bar>
<div class="container mx-auto px-4 py-8 flex flex-col gap-4">
  <p class="text-2xl font-bold text-white mb-4">Orders</p>
  <app-stripe-banner></app-stripe-banner>
  <app-payout-card
    [payouts]="balances?.payouts"
    [isLoading]="!payoutsLoaded"
  ></app-payout-card>
  <app-info-card
    [cardTitle]="'About Payouts'"
    [mainText]="ABOUT_PAYOUTS_TEXT"
    [cardColor]="'blue'"
  ></app-info-card>
  <h2 class="text-xl font-bold text-white my-4">Earnings Summary</h2>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
    <app-dashboard-card
      [cardTitle]="'Total Orders'"
      [mainText]="totalLineItemCount.toString()"
      [isLoading]="!payoutsLoaded"
      [cardColor]="'blue'"
    ></app-dashboard-card>
    <app-dashboard-card
      [cardTitle]="'Pending Balance'"
      [mainText]="`${balances?.pendingBalance?.toString() | currency : userCurrency}`"
      [cardColor]="'green'"
      [isLoading]="!payoutsLoaded"
    ></app-dashboard-card>
    <app-dashboard-card
      [cardTitle]="'Lifetime Earnings'"
      [mainText]="`${balances?.lifetimeEarnings?.toString() | currency : userCurrency}`"
      [cardColor]="'yellow'"
      [isLoading]="!payoutsLoaded"
    ></app-dashboard-card>
  </div>

  <app-orders-table
    (onLoadNextPage)="loadNextOrdersPage()"
    [lineItems]="lineItems"
    [totalLineItemCount]="totalLineItemCount"
  ></app-orders-table>
  <app-payouts-table
    (onLoadNextPage)="loadNextPayoutsPage()"
    [payouts]="payouts"
    [totalPayoutsCount]="totalPayoutsCount"
  ></app-payouts-table>
</div>

<app-footer></app-footer>
