<div
  class="min-h-fit text-gray-100 flex items-center justify-center p-2 sm:p-5 overflow-y-auto w-full sm:w-[550px]"
>
  <div
    class="bg-gray-800 border border-gray-700 rounded-xl w-full overflow-y-auto shadow-2xl mx-1 sm:mx-2"
  >
    <!-- Header -->
    <div
      class="bg-gradient-to-r from-purple-600 via-pink-500 to-purple-600 text-center text-white relative overflow-y-auto pb-2 sm:pb-4"
    >
      <div class="flex justify-end p-2 sm:p-3">
        <button
          class="text-grey-800 hover:text-white transition-colors flex items-center gap-2 hidden sm:block hover:cursor-pointer"
          (click)="closeModal()"
        >
          <svg
            class="w-6 h-6 sm:w-8 sm:h-8"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="px-3 sm:px-10 py-2 sm:py-5">
        <div class="text-3xl sm:text-6xl mb-2 sm:mb-5 animate-bounce">🎉</div>
        <div
          class="flex items-center justify-center mb-2 sm:mb-5 relative z-10"
        >
          <svg
            class="w-5 h-5 sm:w-8 sm:h-8 mr-2 text-purple-300 drop-shadow-lg"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <polygon
              points="13,2 3,14 12,14 11,22 21,10 12,10 13,2"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></polygon>
          </svg>
          <div class="text-lg sm:text-2xl font-extrabold">Pog Shop</div>
        </div>
        <div class="text-base sm:text-xl font-semibold relative z-10">
          Your order is confirmed in email!
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="p-3 sm:p-10 flex flex-col items-center gap-2">
      <app-seller-referral-form
        [userHandle]="data.userHandle"
      ></app-seller-referral-form>
      <!-- Confirmation Section -->
      <div class="text-center mt-4 sm:mt-10 w-full">
        <button
          class="md:hidden w-full py-3 px-6 mt-4 bg-gradient-to-r from-purple-600 to-purple-500 hover:from-purple-700 hover:to-purple-600 text-white font-semibold rounded-lg transition-all duration-200"
          (click)="closeModal()"
        >
          Close
        </button>
      </div>

      <!-- Footer -->
      <div
        class="text-center p-3 sm:p-5 text-gray-400 text-xs sm:text-sm border-t border-gray-700 w-full"
      >
        <p>Thanks for being part of the Pog Shop community! 💜</p>
      </div>
    </div>
  </div>
</div>
