<div
  class="fixed inset-0 flex items-center justify-center p-4 opacity-90 backdrop-blur-xs transition-opacity duration-300"
  (click)="close()"
>
  <div
    class="max-w-full transition-all ease-in-out duration-300 w-xl mx-auto"
    (click)="$event.stopPropagation()"
  >
    <app-simple-stream-alert
      [displayImage]="data.displayImage"
      [displayUsername]="data.displayUsername"
      [displayProductName]="data.displayProductName"
      [displayHandle]="data.displayHandle"
    ></app-simple-stream-alert>
  </div>
</div>
