<div class="bg-gray-800 rounded-lg w-full w-xl p-6 flex flex-col gap-2">
  <h3 class="text-xl font-bold mb-4 text-white">Shipping Details</h3>

  <div class="flex gap-2 w-full px-8">
    <span class="text-gray-300 flex-1">Customer name:</span>
    <span class="text-white flex-1">{{ data.shippingDetails.name }}</span>
  </div>
  <div class="flex gap-2 w-full px-8">
    <span class="text-gray-300 flex-1">Address:</span>
    <span class="text-white flex-1 text-balance">{{
      data.shippingDetails.address.line1
    }}</span>
  </div>
  <div
    class="flex gap-2 w-full px-8"
    *ngIf="data.shippingDetails.address.line2"
  >
    <span class="text-gray-300 flex-1">Address 2:</span>
    <span class="text-white flex-1">{{
      data.shippingDetails.address.line2
    }}</span>
  </div>
  <div class="flex gap-2 w-full px-8">
    <span class="text-gray-300 flex-1">City:</span>
    <span class="text-white flex-1">{{
      data.shippingDetails.address.city
    }}</span>
  </div>
  <div class="flex gap-2 w-full px-8">
    <span class="text-gray-300 flex-1">State:</span>
    <span class="text-white flex-1">{{
      data.shippingDetails.address.state
    }}</span>
  </div>
  <div class="flex gap-2 w-full px-8">
    <span class="text-gray-300 flex-1">Zip code:</span>
    <span class="text-white flex-1">{{
      data.shippingDetails.address.postal_code
    }}</span>
  </div>
  <button
    class="px-4 py-2 bg-gray-600 hover:bg-gray-700 rounded-md text-white transition-colors w-fit self-end"
    (click)="close()"
  >
    Close
  </button>
</div>
