/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
body {
  background-color: rgb(17 24 39); /* bg-gray-900 */
}

.modal-backdrop-dark {
  background-color: rgba(0, 0, 0, 0.6); /* Even darker option */
  backdrop-filter: blur(0.6px); /* Optional: adds slight blur effect */
}